.vacancies {
  padding: toRem(80) 0 toRem(100) 0;

  @media screen and (max-width: $tablet) {
    padding: toRem(60) 0 0 0;
  }
}

.vacancies + .vacancies {
  padding: toRem(80) 0 toRem(140) 0;

  @media screen and (max-width: $tablet) {
    padding: toRem(60) 0 toRem(60) 0;
  }
}

.vacancies__title {
  margin-bottom: toRem(60);
  @include h5;

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(36);
    font-size: toRem(32);
    line-height: toRem(40);
  }
}

.vacancies__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: toRem(16);

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.vacancies__btn {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
    width: 100%;
    border-radius: toRem(2);
    margin-top: toRem(36);
    height: 44px; // удали, это для pixel perfect
  }
}