.vacancy-page {
  position: relative;
}

.vacancy-page__bg-1,
.vacancy-page__bg-2,
.vacancy-page__bg-3,
.vacancy-page__bg-4,
.vacancy-page__bg-5,
.vacancy-page__bg-6,
.vacancy-page__bg-7,
.vacancy-page__bg-8 {
  position: absolute;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.vacancy-page__bg-1 {
  top: 0;
  left: 0;
}

.vacancy-page__bg-2 {
  top: 0;
  right: 0;
}

.vacancy-page__bg-3 {
  left: 0;
  top: toRem(618);
}

.vacancy-page__bg-4 {
  left: 0;
  top: toRem(1435);
}

.vacancy-page__bg-5 {
  right: 0;
  top: toRem(527);
}

.vacancy-page__bg-6 {
  right: 0;
  top: toRem(990);
}

.vacancy-page__top {
  @include body7;
  display: flex;
  padding: toRem(32) toRem(36) toRem(44) toRem(36);

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.vacancy-page__top-link {
  color: #6d46dc;
}

.vacancy-page__slash {
  width: toRem(20);
  height: toRem(20);
  text-align: center;
  margin-left: toRem(2);
  margin-right: toRem(4);
  color: #cecfcf;
}

.vacancy-page__main {
  max-width: toRem(750);
  width: 100%;
  margin: 0 auto;
}

.vacancy-page__main-header {
  padding-bottom: toRem(44);
  border-bottom: toRem(1) solid #d7d7d7;

  @media screen and (max-width: $tablet) {
    margin-top: toRem(24);
  }
}

.vacancy-page__main-title {
  @include h4;
  margin-bottom: toRem(24);

  @media screen and (max-width: $tablet) {
    @include h7;
    margin-bottom: toRem(20);
    max-width: toRem(314);
  }
}

.vacancy-page__detail {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: toRem(12);
  }
}

.vacancy-page__content {
  padding: toRem(44) 0 toRem(140) 0;

  @media screen and (max-width: $tablet) {
    padding: toRem(44) 0 toRem(100) 0;
    @include body7;
  }
}

.vacancy-page__content p,
.vacancy-page__content li {
  @include body2;
  color: #5f5f5f;

  @media screen and (max-width: $tablet) {
    @include body7;
  }
}

.vacancy-page__content h2 {
  @include s1;
}

.vacancy-page__content h3 {
  font-size: toRem(28);
  line-height: toRem(40);
}

.vacancy-page__content h2,
.vacancy-page__content h3 {
  margin-bottom: toRem(15);

  @media screen and (max-width: $tablet) {
    @include s4;
    margin-bottom: toRem(12);
  }
}

.vacancy-page__content h2 ~ h2,
.vacancy-page__content h2 ~ h3 {
  margin-top: toRem(45);

  @media screen and (max-width: $tablet) {
    margin-top: toRem(36);
  }
}

.vacancy-page__content ul {
  padding-left: toRem(36);
}

.vacancy-page__content li {
  position: relative;

  &:not(:first-child) {
    margin-top: toRem(12);
  }
}

.vacancy-page__content li::before {
  content: '';
  position: absolute;
  top: toRem(12);
  left: toRem(-24);
  width: toRem(4);
  height: toRem(4);
  background-color: #5f5f5f;
  border-radius: toRem(1);
}

.vacancy-page__bottom {
  background-color: #f9f9fa;
  padding: toRem(75) 0;
  position: relative;

  @media screen and (max-width: $tablet) {
    padding: toRem(111) 0;
  }
}

// test

.vacancy-page__bg-7-mobile,
.vacancy-page__bg-8-mobile {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
    position: absolute;
  }
}

.vacancy-page__bg-7 {
  top: 0;
  left: 0;
}

.vacancy-page__bg-8 {
  bottom: 0;
  right: 0;
}
.vacancy-page__bg-7-mobile {
  top: 0;
  right: 0;
}

.vacancy-page__bg-8-mobile {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.vacancy-page__bottom-content {
  text-align: center;
  position: relative;
  z-index: 2;
}

.vacancy-page__bottom-title {
  max-width: toRem(512);
  margin: 0 auto toRem(24);
  @include h4;

  @media screen and (max-width: $tablet) {
    @include h7;
    margin-bottom: toRem(16);
  }
}

.vacancy-page__bottom-text {
  max-width: toRem(426);
  margin: 0 auto toRem(48);
  @include body2;

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(44);
    @include body7;
  }
}

.vacancy-page__bottom-text,
.vacancy-page__bottom-btn {
  max-width: toRem(426);
}

.vacancy-page__bottom-btn {
  background-color: #28231e;
  color: #ffffff;
}
