section.clients
  .container
    .clients__top
      h2.clients__title What Our <i>Clients Say</i>
      p.clients__text Our reputation is built on the clients we serve whether that is founders, operators or institutional investors