section.clients
  .container
    .clients__top
      h2.clients__title What Our <i>Clients Say</i>
      p.clients__text Our reputation is built on the clients we serve whether that is founders, operators or institutional investors
    .clients__main
      .clients__main-left 
        .clients__image
          .clients__image-text
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
          img.clients__img(src="/img/clients/clients__main-block.png" alt="")
        .clients__descriptions 
          p.clients__name Terry Gouse
          .clients__info  
            div
              p Sia Partner
              .dot 
              p CEO
              .dot 
              p USA
            .linkedin View Linkedin
      .clients__main-right
        img.clients__siapartners(src="img/clients/siapartners.svg")
        p.clients__main-text “We commissioned market and industry research and received a comprehensive and informative report that exceeded our expectations. The research team provided data that was not only accurate but also useful for making strategic decisions. Their analytical skills and attention to detail made the report a valuable tool for our business. We are grateful for their professionalism and quality work.”
        