section.commitment
  .container
    .commitment__image
      img.commitment__img-desktop(src="/img/commitment-desktop.png" alt="")
      //- img.commitment__img-mobile(src="/img/commitment-mobile.png" alt="")
    .commitment__content
      h3.commitment__subtitle Our Commitment
      p.commitment__text Envoy was founded to offer mid-market clients bespoke <i>advisory solutions</i> combining deep <i>industry knowledge</i>, global and distributed delivery, and full-service <i>Investment Banking solutions</i>.