section.commitment
  .container
    h3.commitment__subtitle Our Commitment
    p.commitment__text Envoy was founded to offer mid-market clients bespoke <i>advisory solutions</i> combining deep <i>industry knowledge</i>, global and distributed delivery, and full-service <i>Investment Banking solutions</i>.