section.index-first
  .container
    .index-first__wrap
      .index-first__content
        h1.title-h1.index-first__title
          | Start Gulp Template
        p.text-p1.index-first__text
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo quisquam dolorem magnam corrupti labore accusantium reiciendis voluptatum, quidem ullam quasi dignissimos dolore in expedita doloremque saepe similique quam quas illum.
        button.btn.btn-dark.index-first__btn
          i.icon-Storefront.btn__icon
          | Get Started
        .list.index-first__list
          .list__item
            h4.title-h4.list__title 240k+
            p.text-p1.list__text Total Sale
          .list__item
            h4.title-h4.list__title 100k+
            p.text-p1.list__text Auctions
          .list__item
            h4.title-h4.list__title 240k+
            p.text-p1.list__text Artists

      .index-first__card
        .index-first__image
          +img('/img/artist-head', 'eager')(class="index-first__img")
        .index-first__info
          h3.title-h5.index-first__name Space Walking
          h4.text-p1.index-first__author Animakid