- const services = ['Mergers & Acquisitions', 'Capital Advisory', 'Research', 'Financial Advisory']

section.first
  .first__bg
  .first__content
    h1.first__title Bespoke Solutions for Global Clients
    p.first__text Envoy offers customized advisory solutions across every strategic company milestone through M&amp;A, Capital Advisory, Financial Advisory Services, and Research enabling clients to thrive in the robust Private Markets.
    button.btn.btn--primary.first__btn Strategic Market Assessment

  .first__list
    each service in services
      .first__item
        .first__item-top
          svg.first__item-icon
            use(xlink:href='img/symbol/svg/sprite.symbol.svg#fusion')
          h4= service
        p Full-service buyside and sellside M&amp;A advisory.