section.insight
  .container
    .insight__top
      h2.insight__title
        | Our Recent 
        i Insights
      button.btn.btn--secondary.insight__link Receive New reports

    .section-slider.js-insights-slider
      .swiper.insight__list
        .swiper-wrapper
          .swiper-slide.card-report
            .card-report__image
              img.card-report__img(src='/img/reports/item-1.jpg' alt='')
              img.card-report__mask(src='/img/reports/mask-1.svg' alt='')
            .card-report__info
              p.card-report__date June 25, 2024
              .card-report__line
              .card-report__calendar
                svg
                  use(xlink:href='img/symbol/svg/sprite.symbol.svg#calendar')
            h5.card-report__title
              | Rising E-commerce Demand Fuels Logistics Automation M&amp;A
            p.card-report__text
              | She surge in e-commerce is accelerating mergers and acquisitions in logistics
              | automation. This report highlights the key
              | drivers, market trends, and strategic opportunities for company to capitalize on this growing sector.
            .card-report__tags
              .card-report__tag Digital Transformation
              .card-report__tag Enterprise Software
          .swiper-slide.card-report
            .card-report__image
              img.card-report__img(src='img/reports/item-2.jpg' alt='')
              img.card-report__mask(src='img/reports/mask-2.svg' alt='')
            .card-report__info
              p.card-report__date June 25, 2024
              .card-report__line
              .card-report__calendar
                svg
                  use(xlink:href='img/symbol/svg/sprite.symbol.svg#calendar')
            h5.card-report__title
              | Rising E-commerce Demand Fuels Logistics Automation M&amp;A
            p.card-report__text
              | She surge in e-commerce is accelerating mergers and acquisitions in logistics
              | automation. This report highlights the key
              | drivers, market trends, and strategic opportunities for company to capitalize on this growing sector.
            .card-report__tags
              .card-report__tag Digital Transformation
              .card-report__tag Enterprise Software
          .swiper-slide.card-report
            .card-report__image
              img.card-report__img(src='img/reports/item-2.jpg' alt='')
              img.card-report__mask(src='img/reports/mask-2.svg' alt='')
            .card-report__info
              p.card-report__date June 25, 2024
              .card-report__line
              .card-report__calendar
                svg
                  use(xlink:href='img/symbol/svg/sprite.symbol.svg#calendar')
            h5.card-report__title
              | Rising E-commerce Demand Fuels Logistics Automation M&amp;A
            p.card-report__text
              | She surge in e-commerce is accelerating mergers and acquisitions in logistics
              | automation. This report highlights the key
              | drivers, market trends, and strategic opportunities for company to capitalize on this growing sector.
            .card-report__tags
              .card-report__tag Digital Transformation
              .card-report__tag Enterprise Software
    .insight__bottom
      button.btn.btn--secondary.insight__link Disclose All Reports