section.second
  .container
    h2.second__title
      | Our Proven 
      i Authority
    .authority.second__list
      .authority__item
        .authority__top
          h4.authority__title 92
          svg.authority__icon
            use(xlink:href='img/symbol/svg/sprite.symbol.svg#feather')
        p.authority__text M&amp;A and Debt Capital Advisory Transactions Completed
      .authority__item
        .authority__top
          h4.authority__title 16
          svg.authority__icon
            use(xlink:href='img/symbol/svg/sprite.symbol.svg#book')
        p.authority__text Seasoned Professionals across North &amp; South America and APAC
      .authority__item
        .authority__top
          h4.authority__title 700+
          svg.authority__icon
            use(xlink:href='img/symbol/svg/sprite.symbol.svg#feather')
        p.authority__text Strategic Buyers &amp; Private Equity Groups Covered
    .second__btn
      button.btn.btn--secondary Discover Envoy
