section.services
  .container
    .services__top
      h3.services__title Our 
        i Services

    .services__list
      .service
        .service__info
          .service__top
            h5.service__title Mergers &amp; Acquisitions
            svg.service__icon
              use(xlink:href='img/symbol/svg/sprite.symbol.svg#fusion')
          p.service__text Full-service buyside and sellside M&amp;A advisory.
        .service__image
          .service__image-text
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
          img.service__img(src="/img/services/item-1.png" alt="")
        .service__list
          .service__item
            .service__change
              p.service__item-text Buy Side Advisory
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow')
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow-right')
          .service__item
            .service__change
              p.service__item-text Sell Side Advisoryy
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow')
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow-right')
      .service
        .service__info
          .service__top
            h5.service__title Capital Advisory
            svg.service__icon
              use(xlink:href='img/symbol/svg/sprite.symbol.svg#credit-card')
          p.service__text Connecting capital to the right opportunities
        .service__image
          .service__image-text
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
          img.service__img(src="/img/services/item-2.png" alt="")
        .service__list
          .service__item
            .service__change
              p.service__item-text Debt Capital Advisory
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow')
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow-right')
          .service__item
            .service__change
              p.service__item-text Equity Capital Advisory
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow')
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow-right')
      .service
        .service__info
          .service__top
            h5.service__title Financial Advisory
            svg.service__icon
              use(xlink:href='img/symbol/svg/sprite.symbol.svg#financial')
          p.service__text Transaction advisory and performance solutions for successful investments.
        .service__image
          .service__image-text
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
            span Learn More
            span Click
          img.service__img(src="/img/services/item-3.png" alt="")
        .service__list
          .service__item
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow')
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow-right')
          .service__item
            .service__change
              p.service__item-text Valuation
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow')
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow-right')
          .service__item
            .service__change
              p.service__item-text Transaction Advisory Services
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow')
            .service__change
              p.service__item-text Performance Improvement
              svg.service__item-icon
                use(xlink:href='img/symbol/svg/sprite.symbol.svg#arrow-right')
      .service
        .service__info
          .service__top
            h5.service__title Research
            svg.service__icon
              use(xlink:href='img/symbol/svg/sprite.symbol.svg#research')
          p.service__text In-depth market, competitor, and industry analysis
        .service__image
          .service__image-text
            span Learn More
            span Click
            span Learn More
            span Click
          img.service__img(src="/img/services/item-4.png" alt="")
        .service__list
          +cardText('Addressable Market Analysis')
          +cardText('Platform Diligence')
          +cardText('Market Surveys')