section.strategic
  h2.strategic__title Strategic Market Assessment
  p.strategic__text Envoy's Strategic Market Assessment deliverables aim to provide strategic benchmarking, actionable insights informing board and management decisions, equity value creation, capital market assessment, and analysis of new growth opportunities.
  button.btn.strategic__btn Get Strategic Market Assessment