section.subscribe
  .container
    .subscribe__wrap
      .subscribe__content
        h2.subscribe__title Subscribe to Our Reports!
        p.subscribe__text Stay on top of the latest trends in the Private Markets with real-time insights across capital markets, industry benchmarks, and other areas to maximize equity value.

        form
          input(type="text" placeholder="Email")
          input(type="text" placeholder="Select Areas of Interest")
          p How often can we send you new reports relevant to your areas of interest?

          button.btn(type="submit") Subscribe

      .subscribe__image
        img.subscribe__img(src='img/subscribe.png' alt='')