section.tell-us
  .container
    .tell-us__wrap
      .tell-us__content
        h3.tell-us__title Strategic <i>Market Assessment</i>
        h4.tell-us__subtitle About Strategic Market Assessment
        p.tell-us__text Envoy's Strategic Market Assessment deliverables aim to provide strategic benchmarking, actionable insights informing board and management decisions, equity value creation, capital market assessment, and analysis of new growth opportunities.

      .tell-us__form
        h4.tell-us__form-title Tell Us About<br><i>Your Company</i>
        form.tell-form
          input(type="text" placeholder="First Name")
          input(type="text" placeholder="Last Name")
          input(type="text" placeholder="Email")
          input(type="text" placeholder="Phone")
          input(type="text" placeholder="Company Name")
          input(type="text" placeholder="Select Industry")
          textarea(placeholder="Write a message...")
          button.btn(type="submit") Submit
