.section-base {
  padding: 40px 0;

  @media (min-width: 1200px) {
    padding: 60px 0;
  }
}

.section-base__wrap {
  display: grid;
  align-items: center;
  gap: 40px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-base__image {
  @media (max-width: 1199px) {
    order: -1;
  }
}

.section-base__img {
  aspect-ratio: 1 / 0.7;
  border-radius: $radius;
  background-color: rgb(223 221 221);
}

.section-base__title {
  margin-bottom: 10px;

  @media (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.section-base__btn {
  margin-top: 20px;

  @media (min-width: 1200px) {
    margin-top: 40px;
  }
}
