$primary: #6d46dc;
$secondary: #ef4036;

$white: #fff;
$black: #28231e;
$dark-gray: #CECFCF;
$gray: #EAEAEA;
$bg: #f7f7f7;
$purple-bg: #21193B;
$text: #4b4b4b;
$footer-text: #77739F;
$clients-dot: #242727;
$design-text: #C3BED8;
$subscribe-text: #828282;
$subscribe-bg: #F9F9FA;
$border-color: #4A3C76;
