@mixin font-face($font-family, $font-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src: url('/font/#{$font-family}/#{$font-name}.woff2') format('woff2'),
      url('/font/#{$font-family}/#{$font-name}.woff') format('woff');
  }
}

@mixin line-clamp($count: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
