[class^='icon-'],
[class*=' icon-'] {
  font-family: Icomoon !important;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: never;
}

.icon-ArrowLeft::before {
  content: '\e900';
}

.icon-ArrowRight::before {
  content: '\e901';
}

.icon-Copy::before {
  content: '\e902';
}

.icon-DiscordLogo::before {
  content: '\e903';
}

.icon-EnvelopeSimple::before {
  content: '\e904';
}

.icon-Eye::before {
  content: '\e905';
}

.icon-EyeSlash::before {
  content: '\e906';
}

.icon-Globe::before {
  content: '\e907';
}

.icon-InstagramLogo::before {
  content: '\e908';
}

.icon-List::before {
  content: '\e909';
}

.icon-LockKey::before {
  content: '\e90a';
}

.icon-MagnifyingGlass::before {
  content: '\e90b';
}

.icon-Plus::before {
  content: '\e90c';
}

.icon-Rocket::before {
  content: '\e90d';
}

.icon-RocketLaunch::before {
  content: '\e90e';
}

.icon-Storefront::before {
  content: '\e90f';
}

.icon-TrendUp::before {
  content: '\e910';
}

.icon-TwitterLogo::before {
  content: '\e911';
}

.icon-User::before {
  content: '\e912';
}

.icon-UserCircle::before {
  content: '\e913';
}

.icon-Wallet::before {
  content: '\e914';
}

.icon-YoutubeLogo::before {
  content: '\e915';
}
