html {
  scrollbar-width: thin;
  scrollbar-color: $primary transparent;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $black;
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.6;
  background-color: $white;
  z-index: 1;
}

body.active {
  overflow: hidden;
}

main {
  // flex-grow: 1;
}

::selection {
  color: $white;
  background-color: $black;
}
