mixin date(date)
  .date__info
    p.date__number= date
    .date__line
    .date__calendar
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66667 1.5C4.94281 1.5 5.16667 1.72386 5.16667 2V2.8335H10.8333V2C10.8333 1.72386 11.0571 1.5 11.3333 1.5C11.6094 1.5 11.8333 1.72386 11.8333 2V2.8335H14C14.2761 2.8335 14.5 3.05735 14.5 3.3335V14.0002C14.5 14.2763 14.2761 14.5002 14 14.5002H2C1.72386 14.5002 1.5 14.2763 1.5 14.0002V3.3335C1.5 3.05735 1.72386 2.8335 2 2.8335H4.16667V2C4.16667 1.72386 4.39052 1.5 4.66667 1.5ZM13.5 5.50016V3.8335H2.5V5.50016H13.5ZM2.5 6.50016H13.5V13.5002H2.5V6.50016Z" fill="#E8E6FF"/>
      </svg>
