footer.footer
  .container
    .footer__wrap
      .footer__first
        +logo.footer__logo
        p.text-p1.footer__text
          | Join our community
        .footer__socials
          a(href="#" aria-label='Discort link').footer__social
            i.icon-DiscordLogo 
          a(href="#" aria-label='Youtube link').footer__social
            i.icon-YoutubeLogo 
          a(href="#" aria-label='Instagram link').footer__social
            i.icon-InstagramLogo 

      .footer__second
        h4.title-h5.footer__title Explore
        .footer__links
          a.text-p1.footer__link(href="/") Home
          a.text-p1.footer__link(href="/about.html") About
          a.text-p1.footer__link(href="/ui.html") UI

      .footer__third
        h4.title-h5.footer__title Join our weekly digest
        p.text-main.footer__text
          | Get exclusive promotions & updates straight to your inbox.

    p.text-p3.footer__copy
      | Ⓒ Start template. Use this template freely.