mixin img-anim(src)
  .img-anim
    .img-anim__text
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
    img.img-anim__img(src=src alt="")