mixin img-anim(src)
  .img-anim__image
    .img-anim__image-text
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
      span Learn More
      span Click
    img.img-anim__img(src=src alt="")