mixin time(time)
  .time__info
    p.time__number= time
    .time__line
      <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0.5L0.150823 0.717488C2.80489 4.54467 8.50144 4.43048 11 0.5C9.57309 4.71587 9.57309 9.28413 11 13.5C8.44008 9.69112 2.87609 9.57731 0.162546 13.2783L0 13.5C1.42691 9.28413 1.42691 4.71587 0 0.5Z" fill="#EAEAEA"/>
      </svg>
    .time__calendar
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.39 7.67695L10.9191 10.2061L10.3679 10.7579L7.61 8V4.1H8.39V7.67695ZM8 14.5C4.41005 14.5 1.5 11.5899 1.5 8C1.5 4.41005 4.41005 1.5 8 1.5C11.5899 1.5 14.5 4.41005 14.5 8C14.5 11.5899 11.5899 14.5 8 14.5ZM8 13.72C9.51704 13.72 10.9719 13.1174 12.0447 12.0447C13.1174 10.9719 13.72 9.51704 13.72 8C13.72 6.48296 13.1174 5.02806 12.0447 3.95535C10.9719 2.88264 9.51704 2.28 8 2.28C6.48296 2.28 5.02806 2.88264 3.95535 3.95535C2.88264 5.02806 2.28 6.48296 2.28 8C2.28 9.51704 2.88264 10.9719 3.95535 12.0447C5.02806 13.1174 6.48296 13.72 8 13.72Z" fill="#E8E6FF"/>
      </svg>

