.card-client__full-name-section {
  display: flex;
  align-items: center;
  margin-top: toRem(16);

  @media screen and (max-width: 768px) {
    @include caption2;
    margin-top: toRem(20);
  }
}

.card-client__full-name {
  @include s5;
}

.card-client__info {
  display: flex;
  align-items: center;
  margin-top: toRem(4);
  @include body7;

  & > *:not(:last-child) {
    margin-right: toRem(8);
  }

  @media screen and (max-width: 768px) {
    @include caption2;
    margin-top: toRem(8);
  }
}

.card-client__country {
  display: flex;

  img {
    margin-right: toRem(4);
  }
}

.card-client__linkedin-icon {
  display: none;

  @media screen and (max-width: 576px) {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: toRem(8);
  }
}
