.card-client__main {
  display: flex;
  align-items: center;
  margin-top: toRem(16);

  @media screen and (max-width: $tablet) {
    margin-top: toRem(20);
  }
}

.card-client__name {
  @include s5;
}

.card-client__socials {
  display: flex;
  align-items: center;
  margin-left: toRem(8);

  @media screen and (min-width: ($tablet + 1)) {
    display: none;
  }
}

.card-client__text {
  @include body4;
}

.card-client__info {
  display: flex;
  align-items: center;
  margin-top: toRem(4);
  @include body7;

  & > *:not(:last-child) {
    margin-right: toRem(8);
  }

  @media screen and (max-width: $tablet) {
    @include caption2;
    margin-top: toRem(8);
  }
}

.card-client__country {
  display: flex;
  align-items: center;

  img {
    margin-right: toRem(4);
  }
}

.card-client__linkedin-icon {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: toRem(8);
  }
}

.card-client__content {
  display: none;

  @media screen and (max-width: $tablet) {
    margin-top: toRem(32);
    display: block;
  }
}

.card-client__partners {
  margin-bottom: toRem(12);
}

.card-client__partners img {
  display: block;
}
