.card-vacancy {
  padding: toRem(36) toRem(40);

  @media screen and (max-width: $tablet) {
    padding: toRem(32) toRem(36);
  }
}

.card-vacancy {
  background-color: #f9f9fa;
  border-radius: toRem(4) toRem(24);
}

.card-vacancy--white {
  background-color: #ffffff;
  border: toRem(1) solid #eaeaea;
  border-radius: toRem(24) toRem(4);

  @media screen and (max-width: $tablet) {
    border-radius: toRem(4) toRem(24);
  }
}

.card-vacancy__top {
  display: flex;
  align-items: center;
  margin-bottom: toRem(16);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(14);
  }
}

.card-vacancy__title {
  @include s2;

  @media screen and (max-width: $tablet) {
    @include s5;
  }
}

.card-vacancy__title {
  margin-bottom: toRem(8);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(6);
  }
}

.card-vacancy--white .card-vacancy__title {
  margin-bottom: toRem(10);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(6);
  }
}

.card-vacancy__text {
  @include body7;
  color: #828282;
  max-width: toRem(552);
  height: toRem(88);
  @include line-clamp(4);
}

.card-vacancy__btn {
  margin: toRem(40) 0 toRem(8);
  width: 100%;

  @media screen and (max-width: $tablet) {
    margin: toRem(36) 0 toRem(0);
  }
}
