.card-vacancies,
.card-vacancies-occupied {
  padding: toRem(36) toRem(40) toRem(0) toRem(40);

  @media screen and (max-width: $tablet) {
    padding: toRem(32) toRem(36) toRem(0) toRem(36);

    &:nth-child(n + 4) {
      display: none;
    }
  }
}

.card-vacancies {
  background-color: #f9f9fa;
  border-radius: toRem(4) toRem(24);
}

.card-vacancies-occupied {
  background-color: #ffffff;
  border: toRem(1) solid #eaeaea;
  border-radius: toRem(24) toRem(4);

  @media screen and (max-width: $tablet) {
    border-radius: toRem(4) toRem(24);
  }
}

.card-vacancies__top {
  display: flex;
  align-items: center;
  margin-bottom: toRem(16);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(14);
  }
}

.card-vacancies__title-occupied,
.card-vacancies__title {
  @include s2;

  @media screen and (max-width: $tablet) {
    @include s5;
  }
}

.card-vacancies__title {
  margin-bottom: toRem(8);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(6);
  }
}

.card-vacancies__title-occupied {
  margin-bottom: toRem(10);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(6);
  }
}

.card-vacancies__text,
.card-vacancies__text-occupied {
  @include body7;
  color: #828282;
  max-width: toRem(552);
  height: toRem(88);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-vacancies__text {
  margin-bottom: toRem(40);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(36);
  }
}

.card-vacancies__text-occupied {
  margin-bottom: toRem(42);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(34);
  }
}

.card-vacancies__btn {
  margin-bottom: toRem(36);
  width: 100%;
  height: 44px; // удали, это для pixel perfect
}
