extends ../layouts/main

block variables
  - const title = 'About page' 

block content
  section.section-base
    .container
      .section-base__wrap
        .section-base__content
          h1.section-base__title About page
          p.section-base__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rerum
            | iure, laborum minus, ab labore sint, asperiores quia voluptatum alias
            | deserunt sunt libero quam officia ipsam inventore fuga soluta commodi.
          button.btn.btn-dark.section-base__btn Main button
        .section-base__image
          .section-base__img
