extends ../layouts/main

block content
  //- include ../sections/index/first
  //- include ../sections/index/second
  //- include ../sections/index/insight
  //- include ../sections/index/services
  //- include ../sections/index/tell-us
  //- include ../sections/index/commitment
  //- include ../sections/index/industries
  //- include ../sections/index/first
  //- include ../sections/index/second
  //- include ../sections/index/insight
  //- include ../sections/index/services
  //- include ../sections/index/tell-us
  //- include ../sections/index/commitment
  //- include ../sections/index/industries
  //- include ../sections/index/transactions
  include ../sections/index/clients
  //- include ../sections/index/strategic
  //- include ../sections/index/subscribe