extends ../layouts/main

block content
  section.vacancies
    .container
      .vacancies__wrap 
          h5.vacancies__title Available <i>Vacancies</i>
          .vacancies__cards
            - for (var x = 0; x < 4; x++)
              +cardVacancy(item)
          button.btn.vacancies__btn Load More

  section.vacancies
    .container
      .vacancies__wrap 
        h5.vacancies__title Occupied <i>Vacancies</i>
        .vacancies__cards
          - for (var x = 0; x < 4; x++)
            +cardVacancy(item, true)
        button.btn.vacancies__btn Load More
