.clients {
  padding: 80px 0 140px;

  @media screen and (max-width: $tablet) {
    padding: 50px 0 80px;
  }
}

.clients__top {
  margin-bottom: 60px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 44px;
  }
}

.clients__title {
  margin-bottom: 24px;
  @include h5;

  @media screen and (max-width: $tablet) {
    margin-bottom: 16px;
    @include h7;
  }
}

.clients__text {
  max-width: 498px;
  @include body4;
  color: #636363;

  @media screen and (max-width: $tablet) {
    max-width: 299px;
    @include body7;
    color: #828282;
  }
}

.clients__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: toRem(16);
  margin-bottom: toRem(60);

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.clients__main-left {
  max-width: toRem(524);

  @media screen and (max-width: 1000px) {
    margin: 0 auto;
    max-width: toRem(600);
    width: 100%;
  }
}

.clients__descriptions {
  margin-top: toRem(20);
}

.clients__name {
  @include s2;
  margin-bottom: toRem(4);
}

.clients__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include body2;

  & > *:not(:last-child) {
    margin-right: toRem(10);
  }
}

.dot-clients {
  overflow: hidden;
  width: toRem(4);
  height: toRem(4);
  background-color: $clients-dot;
  border-radius: toRem(1);
}

.country {
  display: flex;
}

.flag {
  margin-right: toRem(8);
}

.linkedin {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.linkedin__text {
  @include body6;
  margin-left: toRem(6);
}

.clients__main-right {
  & img {
    @media screen and (max-width: 1000px) {
      display: flex;
      margin: 0 auto;
    }
  }
  & p {
    @include s1;
    margin-top: toRem(18);

    @media screen and (max-width: 1200px) {
      margin-top: toRem(16);
      font-size: 26px;
    }

    @media screen and (max-width: 1100px) {
      margin-top: toRem(12);
      font-size: 24px;
    }
  }
}

.clients__slider {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-inline: toRem(16);
  max-width: toRem(1312);
}

.slider__comment {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    margin-top: toRem(32);
  }
}

.clients-slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  gap: toRem(0);
  padding-block: toRem(20);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: $gray;
  border-radius: toRem(1);
  width: toRem(6);
  height: toRem(6);
  margin: 0 toRem(3);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $black;
}
