.clients {
  padding: toRem(80) 0 toRem(140);
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    padding: toRem(50) 0 otRem(80);
  }
}

.clients__top {
  margin-bottom: toRem(60);

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(44);
  }
}

.clients__title {
  margin-bottom: toRem(24);
  @include h5;

  @media screen and (max-width: $tablet) {
    margin-bottom: toRem(16);
    @include h7;
  }
}

.clients__text {
  max-width: toRem(498);
  @include body4;
  color: #636363;

  @media screen and (max-width: $tablet) {
    max-width: toRem(299);
    @include body7;
    color: #828282;
  }
}

.client-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(16);
  margin-bottom: toRem(60);

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.client-main__main {
  max-width: toRem(524);
}

.client-main__name {
  @include s2;
  margin-top: toRem(20);
}

.client-main__info {
  display: flex;
  align-items: center;
  margin-top: toRem(4);
  @include body2;

  & > * + * {
    margin-left: toRem(10);
  }
}

.client-main__partners {
  margin-bottom: toRem(24);
}

.client-main__partners img {
  display: block;
}

.client-main__text {
  @include s1;
  color: #242727;
}

.client-main__country {
  display: flex;
  align-items: center;
}

.client-main__country img {
  display: block;
  margin-right: toRem(6);
}

.client-main__socials {
  display: flex;
  align-items: center;
  margin-left: auto;
  @include body6;
}

.client-main__socials svg {
  display: block;
  margin-right: toRem(6);
}

.clients__descriptions {
  margin-top: toRem(20);
}

.dot {
  width: toRem(4);
  height: toRem(4);
  background-color: $clients-dot;
  border-radius: toRem(1);
}

.clients__slider {
  display: block;
  margin: 0 toRem(-8);
  overflow: visible !important;

  @media screen and (max-width: $tablet) {
    margin: 0 toRem(-4);
  }
}

.clients__slider .swiper-slide {
  padding: 0 toRem(8);

  @media screen and (max-width: 576px) {
    padding: 0 toRem(4);
  }
}
