.clients {
  padding: 80px 0 140px;

  @media screen and (max-width: $tablet) {
    padding: 50px 0 80px;
  }
}

.clients__top {
  margin-bottom: 60px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 44px;
  }
}

.clients__title {
  margin-bottom: 24px;
  @include h5;

  @media screen and (max-width: $tablet) {
    margin-bottom: 16px;
    @include h7;
  }
}

.clients__text {
  max-width: 498px;
  @include body4;
  color: #636363;

  @media screen and (max-width: $tablet) {
    max-width: 299px;
    @include body7;
    color: #828282;
  }
}

.clients__main {
  padding-block: toRem(60);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clients__main-left {
   max-width: toRem(524);

  .clients__image {
    margin-bottom: toRem(20);
  }
}

.clients__descriptions {
  @include body2;
}

.clients__name {
  @include s2;
  margin-bottom: toRem(4);
}

.clients__info {
  display: flex;
  justify-content: space-between;

  & div {
    display: flex;
    align-items: center;
    gap: toRem(10);
  }
}

.dot-clients {
  overflow: hidden;
  &::before {
    content: '.';
    display: block;
    width: 4px;
    height: 4px;
    background-color: $clients-dot;
    border-radius: toRem(2);
  }
}

.linkedin {
  display: flex;
  gap: toRem(6);
  &::before {
    content: '';
    background-image: url(img/icon/linkedin.svg);
    display: block;
    width: toRem(24);
    height: toRem(24);
  }
}

.clients__main-right {
  & p {
    @include s1;
    margin-top: toRem(24);
  }
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: toRem(16);
}