mixin cardVacancie(item, isAvailable)
  if isAvailable
    .card-vacancies&attributes(attributes)
      .card-vacancies__top 
        +date(item.date)
        +location(item.countryFlag, item.location)

      .card-vacancies__title= item.job
      .card-vacancies__text= item.description

      button.btn.card-vacancies__btn View Vacancy Details
  else 
    .card-vacancies-occupied&attributes(attributes)
      .card-vacancies__top 
        +date(item.date)
        +location('img/flags/usa.svg', 'New York, USA')

      .card-vacancies__title-occupied= item.job
      .card-vacancies__text-occupied= item.description
