.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5px 12px;
  color: #28231e;
  @include body6;
  border: 1px solid #28231e;
  border-radius: $radius;
  background-color: $white;
  transition: 0.3s all ease;

  &:hover {
    background-color: #eaeaea;
  }

  &:focus-visible {
    border-color: darken($primary, 5);
    background-color: darken($primary, 5);
    outline: none;
    box-shadow: 0 0 0 6px rgba($primary, 0.25);
  }

  &:active {
    background-color: #cecfcf;
  }

  &:disabled,
  &[disabled='true'] {
    opacity: 0.3;
    color: $white;
    border-color: transparent;
    background-color: gray;
  }

  @media (min-width: 1200px) {
    padding: 8px 20px;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.btn--secondary {
  background-color: $white;

  &:hover {
    background-color: #eaeaea;
  }

  &:focus-visible {
    outline: 1px solid #28231e;
  }

  &:active {
    background-color: #cecfcf;
  }

  &:disabled {
    color: #828282;
    border-color: #cecfcf;
    background-color: #cecfcf;
  }
}

.btn__icon {
  font-size: 20px;
  transition: 0.3s all ease;
}

.btn--outline {
  background-color: transparent;
  color: $primary;

  &:hover {
    color: $white;
  }

  &:disabled {
    color: rgba($primary, 0.3);
    border-color: rgba($primary, 0.3);
    background-color: transparent;
  }
}

.btn--outline .btn__icon {
  color: $primary;
}

.btn--outline:hover .btn__icon {
  color: $white;
}

.btn--outline.btn--secondary {
  border-color: $secondary;
  color: $secondary;

  &:hover {
    color: $white;
  }

  &:disabled {
    color: rgba($secondary, 0.3);
    border-color: rgba($secondary, 0.3);
    background-color: transparent;
  }
}
