input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
  padding: 8px 15px;
  color: $white;
  @include body7;
  border-radius: $radius;
  border: 1px solid #4a3c76;
  background-color: #4a3c76;
  transition: 0.2s background-color ease;

  &::placeholder {
    opacity: 1;
    color: #c3bed8;
  }

  &:hover,
  &:focus {
    background-color: #6d46dc;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

textarea {
  resize: none;
}
