.label {
  cursor: pointer;
}

.label:has(input[type='checkbox']:disabled),
.label:has(input[type='radio']:disabled) {
  cursor: not-allowed !important;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label input[type='checkbox'],
.label input[type='radio'] {
  flex-shrink: 0;
}

.label input[type='checkbox']:disabled ~ *,
.label input[type='radio']:disabled ~ * {
  opacity: 0.3;
}
