input[type='radio'] {
  position: relative;

  width: toRem(20);
  height: toRem(20);

  border: toRem(1)solid #636363;
  border-radius: toRem(1);
  appearance: none;

  transition: 0.3s ease;
  transition-property: box-shadow, border-color;

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    border-color: #6d46dc;
    // outline: none;
    box-shadow: 0 0 0 4px rgba(#6d46dc, 0.25);
  }

  &:checked {
    border-color: #6d46dc;
  }

  &:disabled {
    border-color: rgba(#636363, 0.5);
    cursor: not-allowed;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 105%;
    height: 105%;

    border-radius: toRem(1);
    background-color: transparent;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease;
  }

  &:checked::after {
    background-color: #6d46dc;
  }
}
