.switch-group {
  display: flex;
  gap: 4px;

  width: max-content;
  margin: 100px auto;
  padding: 4px;

  border-radius: 4px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);

  & > legend {
    block-size: 0;
    visibility: hidden;
  }
}

.group-switch {
  display: grid;
  place-items: center;

  width: 32px;
  height: 32px;

  border-radius: 4px;
  background-color: transparent;

  cursor: pointer;

  & > * {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    padding: 4px;

    color: #495057;
    border-radius: 4px;

    transition: .3s ease;
    transition-property: background-color, color;
  }

  & > label,
  & > input {
    opacity: 0;
    appearance: none;
  }

  & > input:focus-visible ~ svg {
    outline: 2px solid #4263eb;
    outline-offset: 1px;
  }

  &:hover,
  & > input:checked ~ svg {
    color: #4263eb;

    background-color: #e9ecef;
    fill: currentcolor;
  }
}