extends ../../layouts/main

//- block variables
//-   - const title = 'List Of Vacancies' 

block content
  section.list-of-vacancies
    .container
      .list-of-vacancies__wrap 
        .list-of-vacancies__available-block
          h5.list-of-vacancies__sub-title Available <i>Vacancies</i>
          .list-of-vacancies__available-cards
            each item in vacanciesData
              +cardVacancie(item, true)
          button.btn.list-of-vacancies__available-btn Load More

        .list-of-vacancies__occupied-block
          h5.list-of-vacancies__sub-title Occupied <i>Vacancies</i>
          .list-of-vacancies__occupied-cards
            each item in vacanciesData
              +cardVacancie(item, false)
          button.btn.list-of-vacancies__occupied-btn Load More
      
    .tell-us__wrap--light
      .tell-us__bg-one--light
        img(src="img/team-page/bg-mobile-1.png", alt="")
      .tell-us__content
        h3.tell-us__title--light Strategic <i>Market Assessment</i>
        h4.tell-us__subtitle--light About Strategic Market Assessment
        p.tell-us__text--light Strategic Market Assessment aims to provide businesses with actionable insights that inform strategic decisions, enhance competitive advantage, and identify new opportunities for growth and expansion.

      .tell-us__form--light
        .tell-us__bg-two--light
          img(src="img/team-page/bg-mobile-2.png", alt="")
        h4.tell-us__form-title--light Tell Us About<br><i>Your Company</i>
        form.tell-form--light
          input(type="text" placeholder="First Name").input--secondary
          input(type="text" placeholder="Last Name").input--secondary
          input(type="text" placeholder="Email").input--secondary
          input(type="text" placeholder="Phone Number").input--secondary
          input(type="text" placeholder="Company Name").input--secondary
          input(type="text" placeholder="Select Industry").input--secondary
          textarea(placeholder="Write a message...").textarea--secondary
          button.btn(type="submit") Submit
